@model UserViewModel
@*@{
    ViewData["Title"] = "Авторизация";
    }*@

<form method=post>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <input type="hidden" name="token" />
                <label asp-for="Login">Логин:</label><br />
                <input asp-for="Login" size="30" /> <br />
                <p></p>
                <label asp-for="Password">Пароль:</label><br />
                <input asp-for="Password" size="30" /> <br />
                <p></p>
                <button class="btn btn-dark w-auto" input type="submit" asp-controller="User" asp-action="Login" role="button">Войти</button>
            </div>
        </div>
    </div>
</form>